:root {
  --ui-color-primary-100: #012f47;
  --ui-color-primary-200: #1a4359;
  --ui-color-primary-300: #33586b;
  --ui-color-primary-400: grey;
  --ui-color-wrong: #ffb6c1;
  --ui-color-right: #90ee90;
  --ui-color-shadow-100: #f5f7f8;
  --ui-color-shadow-200: #ff7d29;
  --ui-color-font: #272727;
}

* {
  // simple reset
  margin: 0;
  padding: 0;
  // setting of box-sizing
  box-sizing: border-box;
}
html {
  // font scaling
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-image: url("../assests/background.png");
  background-size: cover;
}

header {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 25rem;
  max-width: 70%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-quiz {
  background-color: white;
  border-radius: 4rem;
  height: 38rem;
  width: 60rem;
  position: relative;
  margin-top: 4rem;
}

#statement {
  padding-top: 2rem;
  font-size: xx-large;
  text-align: center;
  margin: 1rem 0px;
  min-height: 2em;
}

.hidden {
  display: none;
}

#explanation {
  margin-top: 2rem;
  padding: 0 3rem;
  text-align: center;
  height: 5rem;
  font-size: x-large;
}

#score {
  font-size: x-large;
  padding-top: 3rem;
}

#options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-item: center;
  justify-content: center;
}

button {
  background-color: var(--ui-color-primary-100);
  color: white;
  padding: 0.5rem;
  border: none;
}

.btn-answers {
  padding: 0.5rem;
  margin: 1rem;
  font-size: medium;
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.btn-next-question {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-top: 2rem;
  color: white;
}

.correct {
  background-color: var(--ui-color-right);
  color: white;
}

.incorrect {
  background-color: var(--ui-color-wrong);
  color: white;
}

.img-qustion {
  width: 15rem;
  position: absolute; /* Change to absolute positioning */
  top: 0; /* Position at the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%) translateY(-50%); /* Adjust for centering */
  z-index: 10; /* Ensure it's on top */
  padding-top: 18rem;
}

.progress {
  background-color: var(--ui-color-primary-400);
  border-radius: 20px;
  height: 30px;
  width: 600px;
}

.progress-tracking {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(
    to left,
    var(--ui-color-primary-100),
    var(--ui-color-primary-200),
    var(--ui-color-primary-300),
    var(--ui-color-primary-400)
  );
  box-shadow: 0 5px 5px -6px var(--ui-color-shadow-100),
    0 3px 7px var(--ui-color-shadow-100);
  border-radius: 20px;
  height: 100%;
  width: 0;
  transition: 1s ease 0.3s;
}
